/* Qr scanner page */

.scanner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 36px);
    background-image: linear-gradient(to bottom, black, #c4c4c4, black);
}

.scanner .cam_view{
    border: 3px solid white;
    height: 200px;
    width: 200px;
}

.scanner .title{
    margin-top: 30px;
    font-size: 28px;
    color: white;
}


/* room creator page */

.creator{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creator input{
    width: 300px;
}



/* room entry page */

.entry{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entry input{
    width: 300px;
}


/* room page */

.room{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room .content{
    height: calc(100vh - 99px);
    width: 100vw;
    overflow: scroll;
}

.room .my_order{
    background-color: #fff;
    box-shadow: 1px 3px 7px #d5d5d5;
    margin: 10px;
    border-radius: 15px;
    padding: 1px;
    margin-bottom: 30px;
}

.room .order{
    background-color: #fff;
    box-shadow: 1px 3px 7px #d5d5d5;
    margin: 20px;
    border-radius: 15px;
    padding: 1px;
    width: calc(100% - 50px);
}

.room .dishes{
    padding: 7px;
}

.room .dishes .dish{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(243, 243, 243);
    margin: 10px;
    border-radius: 15px;
    text-transform: uppercase;
    color: black;
    padding: 8px;
}

.room .dishes .dish p{
    margin: 0;
    font-size: 20px;
}

.room .content .user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0px 0px 20px;
}
.room .content .user .nickname{
    margin: 0;
    font-size: 16px;
    color: black;
    margin-left: 10px;
}

.room .content .user div{
    border-radius: 20px;
}

.room .my_order .yt{
    text-align: center;
    width: 100%;
    font-size: 22px;
    color: black;
    font-weight: 600;
}

.room .my_order .btns{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
.room .my_order .b1, .room .my_order .b2{
    width: 100px;
    background-color: #FF971E;
    border-radius: 10px;
    border: 0;    
    font-size: 12px;
    font-weight: 600;
}
.room .my_order .b2{
    background-color: #FF6F1E;
}

.room .content .my_order .btns .ant-btn:focus{
    color: wheat;
}

.room .content .fo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room .content .fo p{
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
}

.room .content .fo button{
    border: none;
    background-color: transparent;
    width: 100px;
}

/* menu page */

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 36px);
}

.c_list{
    height: calc(100vh - 99px);
    overflow: scroll;
}

.m_c{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-start;
    margin-top: 15px;
    height: min-content;
    border: 0;
    padding: 0;
}

.m_c .get_overlay{
    position: relative;
}

.get_overlay::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), black);
    opacity: 0.55;
}


.m_c img{
    width: 100vw;
    max-height: 180px;
    border-radius: 25px 25px 0px 0px;
    
}
.m_c .info{
    height: 0;
    position: relative;
    top: -60px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.m_c .info .name{
    margin-bottom: 0px;
    font-size: 26px;
    color: white;
    height: 30px;
    font-weight: 600;
}
.m_c .info .nr_items{
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
}
/* dish page */

.dish{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* payment page */

.payment{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* navbar */

.navbar{
    background-color:#fff;
    height: 36px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar .icon{
    font-size: 28px;
}


.category{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    height: calc(100vh - 36px);
    width: 100vw;
}

.category .list{
    position: relative;
    top: -10px;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    height: calc(100vh - 256px);
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 230px);
}

.category .dish{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    border: none;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 38vw;
    margin: 6vw;
    height: 200px;
    box-shadow: 0px 1px 12px 3px rgb(175, 175, 175);
    border-radius: 15px;
}

.category .dish .dish_content{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.category .dish img{
    width: 100%;
    height: 90px;
    background-color: rgb(255, 142, 122);
    border-radius: 15px 15px 0px 0px;
}

.category .dish .text{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 66px;
    width: 100%;
    padding: 5px;
}

.category .dish .text button{
    height: 36px;
    background-color: #FFD545;
    border-radius: 17px;
    padding: 0px auto 0px auto;
    width: 82px;
}

.category .dish .text button span{
    height: 26px;
    margin: auto;
}

.category .dish .text .name{
    text-transform: uppercase;
    margin: 0;
    font-size: 18px;
    color: black;
}

.category .dish .text .price{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.category .dish .text .price p{ 
    text-transform: uppercase;
    color: black;
    margin-top: 5px;
    margin-bottom: 7px;
}

.category .dish .text .description{
    margin: 0;
    font-size: 16px;
}

.category .dish span{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 40px;
    margin-right: 15px;
    font-size: 16px;
}

.category .background img{
    width: 100%;
    max-height: 230px;
}

/* header */

.header{
    width: 100vw;
    height: 63px;
    box-shadow: 1px 2px 5px #bbb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;
}

.header button{
    height: 100%;
    width: 63px;
    border: 0;
}

.header p{
    font-size: 20px;
    margin: 0;
    margin-left: 25px;
    text-transform: uppercase;
}

/* restaurants page */

.restaurants{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    height: calc(100vh - 149px);
}

.restaurants .item{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 66px;
    /* border-bottom: 1px solid gray; */
    padding: 0;
    border: none;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 25px;
    box-shadow: 1px 1px 2px rgb(192, 192, 192);
}

.restaurants .item span{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    margin: 8;
    font-size: 18px;
}

.restaurants .item .item_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.restaurants .item .item_content .rating{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: -5px;
    left: -6px;
}

.restaurants .item .item_content .name{
    font-size: 24px;
    margin: 0;
    /* text-transform: uppercase; */
}

.restaurants .item .item_content .rating span{
    font-size: 20px;
    margin: 0;
    width: 30px;
    height: 30px;
    color: gray;
}

.restaurants .item .item_content .rating .marked{
    color: #f2c100;
}

.options{
    height: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.options .location{
    margin-right: 12px;
    
}

.options .filter{
    display: flex;   
}

.options .filter p{
    margin: 0; 
}
.options .filter button{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100px;
}
.background{
    width: 100vw;
}

.background button{
    position: absolute;
    top:10px;
    left: 10px;
    background: transparent;
}


.background .category_name p{
    position: relative;
    top: -30px;
    width: fit-content;
    color: white;
    font-size: 26px;
}

.background .category_name{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
}

